<h2>Settings V-ZUG-HOME</h2>
	<form method="post" data-ajax="false" name="main_form" id="main_form" action="index.cgi">
		<input type="hidden" name="save" value="save">
			<div class="form-group">
				<table class="formtable" border="0" width="100%">
					<tr>
						<td width="25%">
							<label id="labelip"><TMPL_VAR BASIC.VZUG_IP></label>
						</td>
						<td width="50%">
							<input  name="Dev1" type="text" class="textfield"
								value="<TMPL_VAR NAME=IP1>" data-validation-error-msg="* Please enter IP-Adress">
						</td>
						<td width="25%">
							&nbsp;
							<font size="-1"><TMPL_VAR BASIC.VZUG_HIP></font>
						</td>
					</tr>
					<tr>
						<td width="25%">
							<label id="labelfbpass">Miniserver:</label>
						</td>
						<td width="50%">
							<select id="miniserver" name="miniserver" data-mini="true" onchange="selMS(this);">
								<TMPL_VAR NAME=LOXLIST>
							</select>
						</td>
						<td width="25%">
							&nbsp;
							<font size="-1"><TMPL_VAR BASIC.VZUG_HMINISERVER></font>
						</td>
					</tr>
					<tr>
						<td width="25%">
							<label id="labeludpsend"><TMPL_VAR BASIC.VZUG_HTTPSEND></label>
						</td>
						<td width="50%">
						<fieldset>
								<select  name="HTTP_Send" data-role="flipswitch">
									<option value="0"<TMPL_VAR NAME=HTTPSENDNO>>Aus</option><option value="1" <TMPL_VAR NAME=HTTPSENDYES>>Ein</option>\n
								</select>
							</fieldset>
						</td>
						<td width="25%">
							&nbsp;
							<font size="-1"><TMPL_VAR BASIC.VZUG_HHTTPSEND></font>
						</td>
					</tr>					
					<tr>
						<td width="25%">
							<label id="labelmsenabled"><TMPL_VAR BASIC.VZUG_HTML></label>
						</td>
						<td width="50%">
						<table border=0>
							<tr><td>
							  <fieldset>
								 <select id="sendhtml" name="sendhtml" data-role="flipswitch" disabled=disabled>
									<option value="0">Aus</option>
									<option selected=selected value="1">Ein</option>
									</select>
							  </fieldset>
							</td><td>
									&nbsp;&nbsp;<font size="-1">URL: <a href="<TMPL_VAR NAME=WEBSITE>" target=_blank"><TMPL_VAR NAME=WEBSITE></a></font>
							</td></tr>
						</table>
						</td>
						<td width="25%">
							&nbsp;
							<font size="-1"><TMPL_VAR BASIC.VZUG_HHTML></font>
						</td>
					</tr>
					<tr>
						<td width="25%">
							&nbsp;
						</td>
						<td width="50%">
							<center>
								<a id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="./index.cgi?form=1">Abbrechen</a>
								<button type="submit" form="main_form" id="do" data-role="button" data-inline="true" data-mini="true" data-icon="check">Speichern</button>
								<a id="button" data-icon="info" data-role="button" data-inline="true" data-mini="true" 
								href="<TMPL_VAR NAME=LOGDATEI>" 
								target="_blank">Logdatei</a>
							</center>
						</td>
						<td width="25%">
							&nbsp;
						</td>
					</tr>		
			</table>
		</div>
	</form>




